<a z-button zVariant="outline" z-dropdown [zDropdownMenu]="menu" zType="outline" class="group"
    class="flex flex-col justify-center items-center hover:scale-105">
    <div class="pt-[7px]">
        <svg class="w-5 h-5 text-gray-700 dark:text-gray-200 group-hover:text-blue-600 dark:group-hover:text-blue-400 transition"
            fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
            <circle cx="12" cy="8" r="4" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M6 20c0-2.2 3.6-4 6-4s6 1.8 6 4" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
    </div>
    <div class="text-gray-700 text-xs font-bold pt-1 dark:text-gray-300">Account</div>
</a>


<z-dropdown-menu-content #menu="zDropdownMenuContent" class="dropdown-box">
    <z-dropdown-menu-label>My Account</z-dropdown-menu-label>
    
    @if(isLoggedIn) {
        <z-dropdown-menu-item routerLink="/profile">
            Profile
        </z-dropdown-menu-item>
        <z-dropdown-menu-item routerLink="/orders">
            Orders
        </z-dropdown-menu-item>

        <!-- // TODO: Handle logout -->

        <z-dropdown-menu-item (click)="onLogout()">
            LogOut
        </z-dropdown-menu-item>
    } @else {
        <z-dropdown-menu-item routerLink="/login" >
            LogIn/Signup
        </z-dropdown-menu-item>
    }
</z-dropdown-menu-content>